<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>

    <div class="mt-8 p-4 bg-emerald-500 text-white rounded-lg shadow-lg text-center font-bold">
      Tailwind CSS 3 is Working! 🚀
    </div>
  </div>
</ion-content>